<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>topic1</key>
	<dict>
		<key>name</key>
		<string>evaporation</string>
		<key>intro_topic_image_name</key>
		<string>stage1.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage1_bigger.png</string>
	</dict>
	<key>topic2</key>
	<dict>
		<key>name</key>
		<string>precipitation</string>
		<key>intro_topic_image_name</key>
		<string>stage2.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage2_bigger.png</string>
	</dict>
	<key>topic3</key>
	<dict>
		<key>name</key>
		<string>condensation</string>
		<key>intro_topic_image_name</key>
		<string>stage3.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage3_bigger.png</string>
	</dict>
	<key>topic4</key>
	<dict>
		<key>name</key>
		<string>runoff</string>
		<key>intro_topic_image_name</key>
		<string>stage4.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage4_bigger.png</string>
	</dict>
	<key>topic5</key>
	<dict>
		<key>name</key>
		<string>ocean</string>
		<key>intro_topic_image_name</key>
		<string>stage5.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage5_bigger.png</string>
	</dict>
	<key>topic6</key>
	<dict>
		<key>name</key>
		<string>wetland</string>
		<key>intro_topic_image_name</key>
		<string>stage6.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage6_bigger.png</string>
	</dict>
	<key>topic7</key>
	<dict>
		<key>name</key>
		<string>butterfly</string>
		<key>intro_topic_image_name</key>
		<string>stage4.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage4_bigger.png</string>
	</dict>
</dict>
</plist>
