<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>topic1</key>
	<dict>
		<key>name</key>
		<string>grasslands</string>
		<key>intro_topic_image_name</key>
		<string>grasslands_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>grasslands_button_bigger.png</string>
	</dict>
	<key>topic2</key>
	<dict>
		<key>name</key>
		<string>deserts</string>
		<key>intro_topic_image_name</key>
		<string>deserts_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>deserts_button_bigger.png</string>
	</dict>
	<key>topic3</key>
	<dict>
		<key>name</key>
		<string>forests</string>
		<key>intro_topic_image_name</key>
		<string>forests_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>forests_button_bigger.png</string>
	</dict>
	<key>topic4</key>
	<dict>
		<key>name</key>
		<string>tundra</string>
		<key>intro_topic_image_name</key>
		<string>tundra_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>tundra_button_bigger.png</string>
	</dict>
	<key>topic5</key>
	<dict>
		<key>name</key>
		<string>ocean</string>
		<key>intro_topic_image_name</key>
		<string>ocean_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>ocean_button_bigger.png</string>
	</dict>
	<key>topic6</key>
	<dict>
		<key>name</key>
		<string>wetlands</string>
		<key>intro_topic_image_name</key>
		<string>wetlands_button.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>wetlands_button_bigger.png</string>
	</dict>
	<key>topic7</key>
	<dict>
		<key>name</key>
		<string>butterfly</string>
		<key>intro_topic_image_name</key>
		<string>stage4.png</string>
		<key>intro_topic_bigger_image_name</key>
		<string>stage4_bigger.png</string>
	</dict>
</dict>
</plist>
