<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>topic_number</key>
	<string>3</string>
	<key>maintext</key>
	<string>\n When water condenses and forms a cloud, it keeps building up or accumulating until the cloud is full. When the cloud is full, or saturated, the water starts to fall. This stage of the water cycle is called precipitation. Precipitation is water from condensation that falls under the force of gravity. The most common types of precipitation are rain, snow, hail and sleet. 
\n A cloud can become saturated in two primary ways. First, more water could arrive. Second, the temperature could fall. Compared with warm air, cold air can hold less water. 
\n Wind can cause saturation in both ways; it can bring water to a cloud and it can cause temperature changes. When wind causes a temperature drop, any rain that results is called orographic. A powerful example of orographic rain comes from Mount Waiʻaleʻale on the Hawaiian island of Kauai, one of the rainiest places on Earth. Wind pushes air up the side of Mount Waiʻaleʻale. This causes cooling, condensation and then rain. Usually the windiest side of a mountain has the most precipitation.
\n Precipitation is responsible for depositing fresh water on our planet. However, humans sometimes cause rain and other precipitation to be too acidic. Acid rain is created when sulfur dioxide and nitrogen oxides from pollution react with water. Besides killing plants and animals, acid rain can peel paint from buildings, corrode steel bridges and erode marble statues. Pollution laws have helped to reduce acid rain since the 1970s.</string>
	<key>main_text_title_image_name</key>
	<string>precipitation_icon</string>
	<key>background_track_name</key>
	<string>stage3bgtrack.mp3</string>
	<key>voiceover_track_name</key>
	<string>precipitation.mp3</string>
	<key>images</key>
	<array>
		<string>precipitation-P1.png,1.0</string>
		<string>precipitation-P2.png,1.0</string>
		<string>precipitation-P3.png,1.0</string>
		<string>precipitation-P4.png,1.0</string>
		<string>precipitation-P5.png,1.0</string>
		<string>precipitation-P6.png,1.0</string>
		<string>precipitation-P7.png,1.0</string>
		<string>precipitation-P8.png,1.0</string>
	</array>
	<key>titles</key>
	<array>
		<string>Orographic rain is caused due to temperature drop caused by wind</string>
		<string>Hail is a form of solid precipitation</string>
		<string>Acid rain is created when acidic pollutants react with water</string>
		<string>When precipitation evaporates before reaching earth&apos;s surface, it&apos;s called Virga</string>
		<string>Fog is not precipitation as water vapor does not condense enough to fall</string>
		<string>Volcanoes are the primary natural cause of acidic rain</string>
		<string>Snowflake shape is influenced by temperature and humidity</string>
		<string>Large raindrops are more likely to be pancake shaped than teardrops</string>
	</array>
	<key>attributions</key>
	<array>
		<string>Picture taken by @Michael</string>
		<string>Picture taken by Lachln Hardy</string>
		<string>Picture taken by joiseyshowaa</string>
		<string>Picture taken by bossco</string>
		<string>Picture taken by MikeBehnken</string>
		<string>Picture taken by tarotastic</string>
		<string>Picture taken by elif ayse</string>
		<string>Picture taken by felipe_gabaldon</string>
	</array>
	<key>didyouknows</key>
	<array>
		<string>Approximately 500,000 cubic kilometers (120,000 cubic miles) of water is precipitated every year. </string>
		<string>Usually precipitation falls to the Earth. When it evaporates before reaching the surface, it’s called Virga.</string>
		<string>Fog is not precipitation because the water vapor does not condense enough to fall. Fog is a suspension.</string>
		<string>The temperature required to saturate a specific area is called the dew point.</string>
		<string>Water molecules don’t fall separately; droplets combine or fuse to ice crystals before precipitating.</string>
		<string>Raindrops range in size from 0.1 mm to 9 mm across. </string>
		<string>Large raindrops aren’t shaped like teardrops. They’re shaped more like pancakes.</string>
		<string>As a snowflake falls its shape is influenced by air temperature and humidity. </string>
		<string>Sleet or ice pellets are small balls of ice that bounce off the ground.</string>
		<string>Sleet is created when falling snowflakes hit warm air, melt, and then refreeze in colder air.</string>
		<string>Hail is frozen precipitation with a diameter of 5 mm or more.</string>
		<string>Hailstones can partly melt and then fuse together as they fall, becoming up to 15 mm (6”) in diameter.</string>
		<string>The heaviest hailstones weigh about .5 kg or 1.1 pounds.</string>
		<string>Graupel or “soft hail” is precipitation that forms when water freezes to a falling snowflake. </string>
		<string>Unpolluted rain does not have a neutral pH. It’s slightly acidic because it mixes with carbon dioxide when falling.</string>
		<string>Highly acidic rain caused by humans has been documented ever since the Industrial Revolution of the 1700s.</string>
		<string>Acid rain can cause chemical changes in soil and water that spread through ecosystems.</string>
		<string>In 2007, US power plants put 8.9 million tons of sulfur dioxide into the atmosphere.</string>
		<string>Coal power plants and factories with especially high smokestacks can cause acid rain hundreds of miles away. </string>
		<string>Volcanoes are the primary natural cause of highly acidic rain.</string>
	</array>
	<key>voiceoverpacings</key>
	<dict>
		<key>time</key>
		<string>3.5,3.5,3.5,3.5,3.5,3.5,1.5,3.5,3.5,3.5,3.5,4.5,4.2,4.3,4.2,4.3,4.1,4.1,5,4.5,4.5,4.5,4.1,4.2,4.2,1.5,3.5,3.5,3.5,3.5,3.5,3.5</string>
		<key>space</key>
		<string>-40.0,-40.0,-40.0,-40.0,-40.0,-40.0,-80.0,-40.0,-40.0,-40.0,-40.0,-80.0,-40.0,-40.0,-40.0,-40.0,-80.0,-40.0,-40.0,-40.0,-40.0,-40.0,-40.0,-40.0,-40.0,-80.0,-40.0,-40.0,-40.0,-40.0,-40.0,-40.0</string>
	</dict>
	<key>youtubevideos</key>
	<array>
		<string>C1Ib0-BlBKU</string>
		<string>7HfeBP3vaEI</string>
		<string>oAnDo_LqYRg</string>
		<string>OyS7_fE1LvI</string>
		<string>OS2VrgRFCzc</string>
		<string>h-oVNeqFHww</string>
		<string>6PgKS1dGrx0</string>
		<string>tq6N9bKwG5o</string>
	</array>
	<key>youtubetitles</key>
	<array>
		<string>Metamorphosis</string>
		<string>Monarch caterpillar going into chrysalis</string>
		<string>Black Swallowtail butterfly chrysalis</string>
		<string>Monarch caterpillar turning into a cocoon</string>
		<string>Butterfly chrysalis warding off predators</string>
		<string>Monarch caterpillar metamorphosis</string>
		<string>Title</string>
		<string>Title</string>
	</array>
	<key>youtubeattributions</key>
	<array>
		<string>ncmls</string>
		<string>watcher010</string>
		<string>NancyB50</string>
		<string>triggermouse</string>
		<string>mdupraw</string>
		<string>TrapperVT</string>
		<string>attribution</string>
		<string>attribution</string>
	</array>
	<key>flickrphotos</key>
	<string>76269833-72157629857733201</string>
	<key>background_image</key>
	<string>main_text_bg.png</string>
	<key>didyouknow_arrow_left_image</key>
	<string>main_text_arrow_left.png</string>
	<key>didyouknow_arrow_right_image</key>
	<string>main_text_arrow_right.png</string>
	<key>starter_images</key>
	<array>
		<string>3373162395</string>
		<string>5433484245</string>
	</array>
	<key>gallery_id</key>
	<string>precipitation</string>
</dict>
</plist>
